table {
	border: 1px solid silver;
}
td:hover {
	background-color: DarkCyan;
	color: DarkSlateGray;
}
tr, th {
	background-color: black;
	color: cornsilk;
}
tr, td {
	background-color: LightBlue;
	color: midnightblue;
}